@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
  transition: all 0.4s;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(2, 13, 55, 0.7), rgba(2, 13, 55, 0.7)), url("./Images/pawel-czerwinski-eybM9n4yrpE-unsplash 2.png");
  background-size: cover;
}
.container .topHeader {
  max-width: 1244px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
}
.container .topHeader .header {
  max-width: 1044px;
  width: 95%;
  margin: auto;
}
.container .topHeader .header .navigation {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container .topHeader .header .navigation .leftimg {
  padding: 10px 10px 10px 0px;
}
.container .topHeader .header .navigation .navlist ul {
  display: flex !important;
  gap: 43px !important;
  list-style-type: none !important;
}
.container .topHeader .header .navigation .navlist ul li {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.6;
  color: #FFFFFF !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -1%;
}
.container .topHeader .header .navigation .navlist ul li:first-child {
  opacity: 1;
  color: white;
}
.container .topHeader .header .navigation .navlist ul li:last-child button {
  font-size: 14px;
  background: #0432DF;
  border: 1px solid #0432DF;
  border-radius: 8px;
  padding: 10px 20px;
  color: #FFFFFF !important;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1 !important;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
}

.hamburgar {
  display: none;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.mobileMenu {
  position: absolute;
  right: 0;
  animation: slideRight 0.5s ease;
}
.mobileMenu ul {
  background-color: white;
  width: 60vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -1%;
}
.mobileMenu ul li {
  padding: 10px 5px;
  text-align: center;
}
.mobileMenu ul li:hover {
  background-color: #0432DF;
  color: white;
  transition: color 0.3s;
  transform: scale(1.2, 1.2);
}
.mobileMenu ul li:last-child button {
  font-size: 14px;
  background: transparent;
  border-radius: 8px;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1 !important;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "salt" on, "liga" off;
  color: black;
}
.mobileMenu ul li:last-child button :hover {
  background-color: #fff !important;
}
.mobileMenu ul li:last-child:hover button {
  background-color: white;
  transition: background-color 0.2s;
}

/* Music Section */
.topmusic {
  max-width: 1244px;
  width: 100%;
  margin: auto;
  padding: 80px 100px 60px;
}
.topmusic .music {
  max-width: 1044px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.topmusic .music .soundEffect {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #0432DF !important;
}
.topmusic .music .music-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.topmusic .music .music-list .music-table {
  display: flex;
  flex-direction: column;
}
.topmusic .music .music-list .music-table .song {
  padding: 12px 0px 0px;
  position: relative;
  min-height: 68px;
}
.topmusic .music .music-list .music-table .song::after {
  content: "";
  max-width: 1044px;
  width: 100%;
  height: 1px;
  background: #EEEEEE;
  position: absolute;
  top: 67px;
}
.topmusic .music .music-list .music-table .music-name {
  display: flex;
  align-items: center;
  gap: 47px;
  padding: 0px 0px 0px 20px;
}
.topmusic .music .music-list .music-table .music-name .soundName {
  max-width: 189px;
  width: 100%;
}
.topmusic .music .music-list .music-table .music-name .soundName p:first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  color: #020D37;
}
.topmusic .music .music-list .music-table .music-name .soundName p:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 172%;
  letter-spacing: -0.05em;
  font-feature-settings: "salt" on, "liga" off;
  color: #4C526A;
}
.topmusic .music .music-list .music-table .music-name .description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
  font-feature-settings: "salt" on, "liga" off;
  color: #4C526A;
  max-width: 251px;
  width: 100%;
}
.topmusic .music .music-list .music-table .music-name .jumpscare {
  max-width: 212px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
  color: #4C526A;
}
.topmusic .music .music-list .music-table .music-name .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  max-width: 148px;
  width: 100%;
}
.topmusic .music .music-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: -0.02em;
  font-feature-settings: "salt" on, "liga" off;
  color: #020D37;
}
.topmusic .music .music-title h4 {
  width: -moz-fit-content;
  width: fit-content;
}
.topmusic .music .music-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.topmusic .music .music-menu ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
  gap: 28px;
}
.topmusic .music .music-menu ul li {
  position: relative;
}
.topmusic .music .music-menu ul li a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  color: #4C526A;
}
.topmusic .music .music-menu ul li:first-child a {
  color: #020D37;
}
.topmusic .music .music-menu ul li:first-child::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 2px;
  background: #020D37;
  border-radius: 1px;
  top: 100%;
  left: 0%;
}
.topmusic .music .music-menu .filter {
  padding: 2px 14px 2px 20px;
  background: #F1F1F1;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 126px;
  width: 100%;
  height: 40px;
  border: none;
}

/* Company Section */
.topCompany {
  max-width: 1244px;
  margin: auto;
  background: #FAFAFA;
}
.topCompany .company {
  max-width: 1044px;
  width: 100%;
  margin: auto;
  padding: 50px 100px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  gap: 35px;
}
.topCompany .company .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1%;
  color: #020D37;
}
.topCompany .company .title h6 {
  letter-spacing: -2%;
}
.topCompany .company .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 89px;
}

/* Main Section */
.main {
  padding-top: 95px;
}
.main .center-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 51px;
}
.main .center-main .first {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main .center-main .first h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 146.5%;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings: "salt" on, "liga" off;
  color: #EEEEEE;
}
.main .center-main .first p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  letter-spacing: -0.05em;
  font-feature-settings: "salt" on, "liga" off;
  color: #ACAFB8;
}
.main .center-main .second {
  position: relative;
}
.main .center-main .second img {
  position: absolute;
  padding-top: 13px;
  padding-left: 5px;
}
.main .center-main .second input[type=search] {
  background: #EEEEEE;
  border-radius: 8px;
  max-width: 600px;
  padding: 10px 20px 10px 27px;
  width: 100%;
  border: none;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: start;
  color: #4C526A;
}
.main .center-main .second ::-moz-placeholder {
  padding-left: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: start;
  color: #4C526A;
}
.main .center-main .second ::placeholder {
  padding-left: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: start;
  color: #4C526A;
}
.main .center-main .second p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 172%;
  letter-spacing: -0.05em;
  color: #EEEEEE !important;
}
.main .center-main .third p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 172%;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #EEEEEE;
}

/* Dowanload Section */
.topdownload {
  max-width: 1244px;
  margin: auto;
  padding: 60px 100px 100px;
}
.topdownload .download {
  max-width: 1044px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topdownload .download .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 189%;
  color: #EEEEEE;
  padding-top: 39px;
  width: -moz-fit-content;
  width: fit-content;
}
.topdownload .download .first h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 146.5%;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
  width: fit-content;
}
.topdownload .download .first p {
  color: #EEEEEE;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 189%;
  padding-top: 14px;
  margin-bottom: 43px;
  letter-spacing: -0.05em;
  width: -moz-fit-content;
  width: fit-content;
}
.topdownload .download .second {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.topdownload .download .second .basic {
  padding: 26px 34px;
  border: 1px solid #CDD6F9;
  border-radius: 12px;
}
.topdownload .download .second .basic:hover {
  background: #1B4BFF;
}
.topdownload .download .second .basic:hover .btn {
  background: #FFFFFF;
  color: #0432DF;
}
.topdownload .download .second .basic .child1 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
}
.topdownload .download .second .basic .child1 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 172%;
  width: 100%;
  width: 256px;
  min-height: 93px;
  color: #EEEEEE !important;
}
.topdownload .download .second .basic .premium button {
  padding-top: 17px !important;
  border-radius: 8px !important;
}
.topdownload .download .second .basic .child2 {
  padding-top: 25px;
}
.topdownload .download .second .basic .child2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: -0.05em;
  font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
}
.topdownload .download .second .basic .child2 div {
  padding-top: 17px;
}
.topdownload .download .second .basic .child2 button {
  background: #0432DF;
  border: 1px solid #CDD6F9;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #0432DF;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  padding: 14px 24px !important;
}

/* Category Section */
.topCategory {
  max-width: 1244px;
  width: 100%;
  margin: auto;
  padding: 60px 101px;
}
.topCategory .category {
  max-width: 1044px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
}
.topCategory .category a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #0432DF;
}
.topCategory .category h4 {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
}
.topCategory .category .gallery {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.topCategory .category .gallery .first {
  width: 157px;
  height: 117px;
  background-image: url("./Images/musical.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .first p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .second {
  width: 157px;
  height: 117px;
  background-image: url("./Images/industrial.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .second p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .third {
  width: 157px;
  height: 117px;
  background-image: url("./Images/movie.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .third p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .four {
  width: 157px;
  height: 117px;
  background-image: url("./Images/animal.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .four p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .five {
  width: 157px;
  height: 117px;
  background-image: url("./Images/people'.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .five p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .six {
  width: 157px;
  height: 117px;
  background-image: url("./Images/vehicles.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .six p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .seven {
  width: 157px;
  height: 117px;
  background-image: url("./Images/sounddesign.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .seven p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .eight {
  width: 157px;
  height: 117px;
  background-image: url("./Images/emergency.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .eight p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .nine {
  width: 157px;
  height: 117px;
  background-image: url("./Images/bell.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .nine p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .ten {
  width: 157px;
  height: 117px;
  background-image: url("./Images/nature.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .ten p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .eleven {
  width: 157px;
  height: 117px;
  background-image: url("./Images/cartoon.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .eleven p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}
.topCategory .category .gallery .twelve {
  width: 157px;
  height: 117px;
  background-image: url("./Images/horror.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.topCategory .category .gallery .twelve p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
}

/* Why Choose Us */
.choose {
  max-width: 1244px;
  width: 100%;
  margin: auto;
  padding: 60px 100px 100px;
}
.choose .chooseus {
  max-width: 1044px;
  width: 100%;
  margin: auto;
}
.choose .chooseus .parent {
  display: flex;
  flex-direction: row;
  gap: 110px;
}
.choose .chooseus .parent .child1 {
  max-width: 337px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 17px;
}
.choose .chooseus .parent .child1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #F59E00;
}
.choose .chooseus .parent .child1 h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: -0.02em;
}
.choose .chooseus .parent .child2 {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.choose .chooseus .parent .child2 .card {
  max-width: 246px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.choose .chooseus .parent .child2 .card .card-footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.choose .chooseus .parent .child2 .card .card-footer .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
  letter-spacing: -0.05em;
}
.choose .chooseus .parent .child2 .card .card-footer .card-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 172%;
  color: #4C526A;
}

/* Footer Section */
.topfooter {
  max-width: 1244px;
  margin: auto;
  padding: 50px 100px;
  width: 100%;
}
.topfooter .footer {
  max-width: 1044px;
  margin: auto;
  display: flex;
  gap: 131px;
}
.topfooter .footer .parent1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.topfooter .footer .parent1 .child1 {
  width: -moz-fit-content;
  width: fit-content;
}
.topfooter .footer .parent1 .child2 {
  width: -moz-fit-content;
  width: fit-content;
}
.topfooter .footer .parent1 .child2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 180%;
  color: #ACAFB8;
  max-width: 298px;
  width: 100%;
}
.topfooter .footer .parent1 .child3 {
  width: -moz-fit-content;
  width: fit-content;
}
.topfooter .footer .parent1 .child3 p {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 172%;
  width: fit-content;
  color: #ACAFB8;
}
.topfooter .footer .parent2 {
  display: flex;
  justify-content: space-between;
  gap: 152px;
}
.topfooter .footer .parent2 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  gap: 12px;
}
.topfooter .footer .parent2 ul li:first-child {
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 172%;
  color: #EEEEEE;
}
.topfooter .footer .parent2 ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  line-height: 180%;
  color: #ACAFB8;
}

@media screen and ((min-width: 1030px) and (max-width: 1239px)) {
  .choose {
    padding: 60px 20px 100px !important;
  }
  .choose .chooseus .parent .child2 {
    gap: 50px !important;
  }
}
@media screen and (max-width: 1029px) {
  .gap {
    gap: 30px !important;
  }
  .choose {
    padding: 40px 0px 60px !important;
  }
  .choose .chooseus .parent {
    flex-direction: column;
    gap: 41px !important;
  }
  .choose .chooseus .parent .child1 {
    justify-content: center;
    align-items: center;
    gap: 17px !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .choose .chooseus .parent .child1 h6 {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    max-width: 466px;
    width: 100%;
  }
  .choose .chooseus .parent .child2 {
    justify-content: space-evenly !important;
    -moz-column-gap: 110px !important;
         column-gap: 110px !important;
  }
}
@media screen and (max-width: 700px) {
  .choose .chooseus .parent .child2 {
    flex-direction: column !important;
    align-items: center !important;
  }
  .choose .chooseus .parent .child2:nth-child(2) .card:nth-child(1) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1097px) {
  .topmusic {
    padding: 80px 50px 60px !important;
  }
}
@media screen and (max-width: 1000px) {
  .topmusic {
    padding: 80px 20px 60px !important;
  }
}
@media screen and (max-width: 936px) {
  .topmusic {
    padding: 80px 10px 60px !important;
  }
}
@media screen and (max-width: 920px) {
  .topmusic .music .music-list .music-table .music-name {
    gap: 30px;
  }
  .soundName p:first-child {
    font-size: 14px !important;
  }
  .description {
    font-size: 14px !important;
  }
  .jumpscare {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 848px) {
  .topmusic .music .music-list .music-table .music-name {
    gap: 20px;
  }
}
@media screen and (max-width: 590px) {
  .main .center-main .first p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  .topdownload {
    padding: 60px 0px !important;
  }
  .topdownload .download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .topdownload .download .first h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: -0.02em;
  }
  .topdownload .download .first p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 189%;
    letter-spacing: -0.05em;
  }
  .topdownload .download .second .basic .child1 h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }
  .topdownload .download .second .basic .child1 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    max-width: 219px;
    width: 100%;
    min-height: 66px !important;
  }
  .topdownload .download .second .basic .child2 {
    padding-top: 24px !important;
  }
  .topdownload .download .second .basic .child2 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 172%;
    letter-spacing: -0.05em;
  }
  .topdownload .download .second .basic .child2 div {
    padding-top: 20px !important;
  }
  .topdownload .download .second .basic .child2 button {
    font-size: 14px !important;
  }
  .main .center-main .first {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .main .center-main .first p {
    font-size: 18px !important;
  }
  .topfooter {
    padding: 40px 0px 40px 60px;
  }
  .topfooter .footer {
    flex-direction: column;
  }
  .topfooter .footer .parent1 {
    gap: 20px !important;
  }
  .topCompany .company {
    padding: 40px 100px;
    gap: 35px;
  }
  .topCompany .company .logo {
    gap: 40px;
    padding: 0px;
  }
  .topCompany .company .logo img {
    padding: 0;
  }
  .topCompany .company .logo img:first-child {
    width: 40px;
    height: 40px;
  }
  .topCompany .company .logo img:nth-child(2) {
    width: 40px;
    height: 40px;
  }
  .topCompany .company .logo img::nth-child(3) {
    width: 62px;
    height: 44px;
  }
  .topCompany .company .logo img:nth-child(4) {
    width: 40px;
    height: 49px;
  }
  .topCompany .company .logo img:nth-child(5) {
    width: 80px;
    height: 21px;
  }
  .topCompany .company .logo img:nth-child(6) {
    width: 90px;
    height: 17px;
  }
  .topCompany .company .logo img:nth-child(7) {
    width: 41px;
    height: 42px;
  }
  .display-none {
    display: none !important;
  }
  .topmusic {
    padding: 50px 60px !important;
  }
  .topmusic .music {
    gap: 14px !important;
  }
  .topmusic .music .music-title h4 {
    font-size: 24px !important;
  }
  .topmusic .music .music-list .music-table {
    padding: 6px 0px 0px;
  }
  .topmusic .music .music-list .music-menu ul {
    padding: 10px !important;
    gap: 28px !important;
  }
  .topmusic .music .music-list .music-menu ul li a {
    font-size: 14px !important;
  }
  .topmusic .music .music-list .music-menu .filter {
    max-width: 101px !important;
    width: 100%;
    height: 40px !important;
  }
  .topmusic .music .music-list .music-menu .filter span {
    font-size: 14px !important;
  }
  .music-name {
    gap: 52px !important;
  }
  .soundName {
    max-width: 129px !important;
    width: 100%;
  }
  .soundName p:first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 138%;
    color: #020D37;
  }
  .jumpscare p {
    max-width: 162px;
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 138%;
  }
  .soundEffect {
    font-family: "Inter" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 138% !important;
    width: -moz-fit-content;
    width: fit-content;
  }
  .topCategory {
    padding: 40px 51px !important;
  }
  .topCategory .category {
    gap: 10px;
  }
  .gallery {
    gap: 12px !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
  }
  .gallery .first {
    width: 150px;
    height: 90px;
  }
  .gallery .second {
    width: 150px;
    height: 90px;
  }
  .gallery .third {
    width: 150px;
    height: 90px;
  }
  .gallery .four {
    width: 150px;
    height: 90px;
  }
  .gallery .five {
    width: 150px;
    height: 90px;
  }
  .gallery .six {
    width: 150px;
    height: 90px;
  }
  .gallery .seven {
    width: 150px;
    height: 90px;
  }
  .gallery .eight {
    width: 150px;
    height: 90px;
  }
  .gallery .nine {
    width: 150px;
    height: 90px;
  }
  .gallery .ten {
    width: 150px;
    height: 90px;
  }
  .gallery .eleven {
    width: 150px;
    height: 90px;
  }
  .gallery .twelve {
    width: 150px;
    height: 90px;
  }
}
@media screen and (max-width: 660px) {
  .topCompany .company .logo {
    gap: 35px !important;
  }
}
@media screen and (max-width: 730px) {
  .music-name {
    gap: 30px !important;
  }
}
@media screen and (max-width: 661px) {
  .topmusic {
    padding: 50px 30px !important;
  }
}
@media screen and (max-width: 630px) {
  .topmusic .music .music-list .music-menu ul {
    gap: 18px !important;
  }
  .topdownload .download .second {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 601px) {
  .topmusic {
    padding: 50px 15px !important;
  }
  .topmusic .music .music-list .music-menu ul {
    gap: 14px !important;
  }
  .music-name {
    gap: 15px !important;
  }
}
@media screen and (max-width: 526px) {
  .display-none {
    display: none !important;
  }
}
@media screen and (max-width: 670px) {
  .topfooter {
    padding: 40px 0px 40px 30px;
  }
}
@media screen and (max-width: 450px) {
  .main {
    padding-top: 56px !important;
  }
  .main .center-main .first h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: "salt" on, "liga" off;
    color: #EEEEEE;
  }
  .main .center-main .first p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 138%;
    text-align: center !important;
    color: #ACAFB8;
    max-width: 284px !important;
    width: 100%;
    margin: auto;
  }
  .main .center-main .second p {
    max-width: 288px;
    width: 100%;
    color: #EEEEEE !important;
  }
  .main .center-main .third p {
    max-width: 289px;
    width: 100%;
  }
}
@media screen and (max-width: 645px) {
  .topfooter {
    padding: 40px 0px 40px 30px;
  }
  .topfooter .footer .parent2 {
    justify-content: space-between;
    gap: 120px;
  }
}
@media screen and (max-width: 630px) {
  .topCompany .company .logo {
    gap: 25px !important;
  }
}
@media screen and (max-width: 600px) {
  .topfooter .footer .parent2 {
    justify-content: space-between;
    gap: 50px;
  }
}
@media screen and (max-width: 570px) {
  .topCompany .company .logo {
    gap: 20px !important;
  }
}
@media screen and (max-width: 540px) {
  .topCompany .company .logo {
    gap: 15px !important;
  }
}
@media screen and (max-width: 518px) {
  .topCompany .company {
    padding: 40px 50px;
  }
  .topCompany .company .logo {
    gap: 10px !important;
  }
}
@media screen and (max-width: 476px) {
  .topCompany .company {
    padding: 40px 30px;
  }
  .topCompany .company .logo {
    flex-wrap: wrap;
    gap: 40px !important;
  }
}
@media screen and (max-width: 378px) {
  .topCompany .company {
    padding: 30px 16px 40px;
  }
  .topCompany .company .title {
    max-width: 288px;
    width: 100%;
    color: #020D37 !important;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30.96px;
    letter-spacing: -1%;
  }
}
@media screen and (max-width: 351px) {
  .topCompany .company .logo {
    gap: 30px !important;
  }
}
@media screen and (max-width: 320px) {
  .topCompany .company .logo {
    gap: 20px !important;
  }
}
@media screen and (max-width: 435px) {
  .topfooter .footer .parent2 {
    gap: 28px !important;
  }
}
@media screen and (max-width: 840px) {
  .header {
    padding: 10px 0px 0px;
    max-width: 648px;
    margin: auto;
    width: 100%;
  }
  .header .navigation {
    display: flex !important;
    justify-content: space-between !important;
    padding: 5px !important;
  }
  .header .navigation .navlist {
    display: none !important;
  }
  .header .navigation .hamburgar {
    list-style-type: none !important;
    display: block !important;
  }
  .topCompany .company .logo {
    gap: 40px;
  }
}
@media screen and (max-width: 1237px) {
  .topfooter {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 1100px) {
  .topCompany .company .logo {
    gap: 50px;
  }
}
@media screen and (max-width: 820px) {
  .topCompany .company .logo {
    gap: 40px;
  }
}
@media screen and (max-width: 1137px) {
  .topfooter .footer {
    gap: 80px;
  }
  .topfooter .footer .parent2 {
    gap: 80px;
  }
}
@media screen and (max-width: 949px) {
  .topfooter {
    padding: 50px 50px;
  }
  .topfooter .footer {
    gap: 50px;
  }
  .topfooter .footer .parent2 {
    gap: 50px;
  }
}
@media screen and (max-width: 854px) {
  .topfooter {
    padding: 50px 40px;
  }
  .topfooter .footer {
    gap: 40px;
  }
  .topfooter .footer .parent2 {
    gap: 40px;
  }
}
@media screen and (max-width: 802px) {
  .topfooter {
    padding: 50px 40px;
  }
  .topfooter .footer {
    gap: 30px;
  }
  .topfooter .footer .parent2 {
    gap: 30px;
  }
}
@media screen and (max-width: 774px) {
  .topfooter {
    padding: 50px 30px;
  }
  .topfooter .footer {
    gap: 30px;
  }
  .topfooter .footer .parent2 {
    gap: 30px;
  }
}
@media screen and (max-width: 442px) {
  .music-name {
    gap: 7px !important;
  }
}
@media screen and (max-width: 420px) {
  .choose .chooseus .parent .child1 h6 {
    max-width: 265px;
    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
  }
  .choose .chooseus .parent .child2 {
    gap: 30px !important;
  }
  .choose .chooseus .parent .child2 .card .card-footer .card-title {
    font-size: 16px !important;
  }
  .choose .chooseus .parent .child2 .card .card-footer .card-description {
    max-width: 246px !important;
    width: 100% !important;
  }
  .choose .chooseus .parent .gap {
    gap: 30px !important;
  }
  .topCategory {
    padding: 30px 16px 40px !important;
  }
  .topCategory .category {
    gap: 20px !important;
  }
  .topCategory .category h4 {
    font-size: 20px !important;
  }
  .gallery {
    gap: 10px !important;
    justify-content: space-around !important;
    flex-wrap: wrap;
  }
  .gallery .first {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .first p {
    font-size: 16px !important;
  }
  .gallery .second {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .second p {
    font-size: 16px !important;
  }
  .gallery .third {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .third p {
    font-size: 16px !important;
  }
  .gallery .four {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .four p {
    font-size: 16px !important;
  }
  .gallery .five {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .five p {
    font-size: 16px !important;
  }
  .gallery .six {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .six p {
    font-size: 16px !important;
  }
  .gallery .seven {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .seven p {
    font-size: 16px !important;
  }
  .gallery .eight {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .eight p {
    font-size: 16px !important;
  }
  .gallery .nine {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .nine p {
    font-size: 16px !important;
  }
  .gallery .ten {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .ten p {
    font-size: 16px !important;
  }
  .gallery .eleven {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .eleven p {
    font-size: 16px !important;
  }
  .gallery .twelve {
    width: 139px !important;
    height: 70px !important;
  }
  .gallery .twelve p {
    font-size: 16px !important;
  }
  .display-none {
    display: none;
  }
  .song {
    padding: 8px 0px 0px !important;
  }
  .icon img:first-child {
    display: none !important;
  }
  .jumpscare {
    display: none !important;
  }
  .topmusic .music .music-list .music-menu .filter {
    max-width: 36px !important;
    width: 100% !important;
    padding: 0px 20px !important;
  }
  .topmusic .music .music-list .music-menu .filter span {
    display: none !important;
  }
  .music-menu ul li:nth-child(3) {
    display: none;
  }
  .topmusic {
    padding: 50px 16px !important;
  }
  .topmusic .music .music-title h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    max-width: 286px !important;
    width: 100%;
  }
  .topfooter {
    padding: 50px 16px;
  }
  .topfooter .footer {
    gap: 34px !important;
  }
  .topfooter .footer .parent1 {
    gap: 16px !important;
  }
  .topfooter .footer .parent2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 40px !important;
  }
  .topfooter .footer .parent2 .list1 {
    width: 100% !important;
  }
  .topfooter .footer .parent2 .list2 {
    width: 100% !important;
  }
  .list3 {
    width: 100% !important;
    flex-basis: 100%;
  }
  .list1 {
    width: 50% !important;
  }
  .list2 {
    width: 50% !important;
  }
  .music-name {
    gap: 19px !important;
  }
  .icon {
    padding: 0px !important;
  }
  .topCompany .company {
    padding: 30px 16px 40px;
    gap: 30px !important;
  }
  .topCompany .company .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 0px;
    color: #020D37 !important;
    line-height: 30.96px;
  }
  .topCompany .company .logo {
    gap: 30px !important;
  }
  .topdownload {
    padding: 50px 16px !important;
  }
  .topdownload .download .first h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }
  .topdownload .download .first p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
  }
  .topdownload .download .second .basic .child1 h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
  }
  .topdownload .download .second .basic .child1 p {
    max-width: 217px !important;
    width: 100% !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    letter-spacing: -0.05em;
    min-height: 66px !important;
  }
  .topdownload .download .second .basic .child2 {
    padding-top: 28px !important;
  }
  .topdownload .download .second .basic .child2 p {
    font-family: "Inter" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 172% !important;
    letter-spacing: -0.05em !important;
  }
  .topdownload .download .second .basic .child2 div {
    padding-top: 14px !important;
  }
  .topdownload .download .second .basic .child2 button {
    padding: 10px 20px !important;
    font-family: "Poppins";
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .topdownload .download .text {
    font-family: "Inter" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 180% !important;
    max-width: 288px !important;
  }
}/*# sourceMappingURL=style.css.map */